{{!-- <style>
    .alerta {
    background-color: yellow; 
}
</style> --}}

<div class="container mt-5">
    <h1 class="mb-4">Inventario</h1>

    <!-- Barra de búsqueda -->
    <div class="input-group mb-3">
        <input type="text" class="form-control valBusqueda" placeholder="Buscar producto" aria-label="Buscar producto"
            aria-describedby="search-button">
        <button class="btn btn-primary btnBusqueda" type="button" id="search-button">Buscar</button>
    </div>

    <!-- Tabla de productos -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Utiliza un bucle Handlebars para iterar a través de tus registros --}}
            {{#each productos}}
            <tr>
                <td id="id">{{idLibro}}</td>
                <td id="nombre">{{nombre}}</td>
                <td id="precio">{{precio}}</td>
                <td id="cantidad">{{cantidad}}</td>
                <td id="autor">{{autor}}</td>
                <td id="genero">{{genero}}</td>
                <td>
                    <a href="inventario/editar/{{idUsuariosLibros}}" class="btn btn-info">Editar</a>
                    <a href="inventario/eliminar/{{idUsuariosLibros}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="inventario/registrar" class="btn btn-primary ">Registrar Producto</a>

</div>

<script>
    const filas = document.querySelectorAll('tbody tr');

    filas.forEach(fila => {
        const idCelda = fila.querySelector('#id');
        const cantidadCelda = fila.querySelector('#cantidad');
        const nombreCelda = fila.querySelector('#nombre');
        const precioCelda = fila.querySelector('#precio');
        const autorCelda = fila.querySelector('#autor');
        const generoCelda = fila.querySelector('#genero');

        const cantidad = parseInt(cantidadCelda.textContent);
        console.log('cantidad: '+cantidad);


        if (cantidad <= 5) {
            idCelda.style.backgroundColor = '#FFFF83';
            cantidadCelda.style.backgroundColor = '#FFFF83';
            nombreCelda.style.backgroundColor = '#FFFF83';
            precioCelda.style.backgroundColor = '#FFFF83';
            autorCelda.style.backgroundColor = '#FFFF83';
            generoCelda.style.backgroundColor = '#FFFF83';
        }
    });
</script>

</script>

<script src="/busquedaInventario.js"></script>
