<div class="container mt-5">
    <h1 class="mb-4">Inventario</h1>

    <!-- Barra de búsqueda -->
    <div class="input-group mb-3">
        <input type="text" class="form-control valBusqueda" placeholder="Buscar producto" aria-label="Buscar producto" aria-describedby="search-button">
        <button class="btn btn-primary btnBusqueda" type="button" id="search-button">Buscar</button>
    </div>

    <!-- Tabla de productos -->
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Utiliza un bucle Handlebars para iterar a través de tus registros --}}
            {{#each productos}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{precio}}</td>
                <td>{{cantidad}}</td>
                <td>{{autor}}</td>
                <td>{{genero}}</td>
                <td>
                    <a href="inventario/editar/{{idUsuariosLibros}}" class="btn btn-info">Editar</a>
                    <a href="inventario/eliminar/{{idUsuariosLibros}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="inventario/registrar" class="btn btn-primary ">Registrar Producto</a>
</div>
